*{
    font-family: 'DM Sans';
    box-sizing: border-box;
}

body {
    background-color: #fff;
    margin: 0px;
}

/* ============ header ============ */

@media screen and (min-width: 1024px) {
    :root {
      --normal-font-size: 1rem;
    }
}
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
a {
    text-decoration: none;
    color: #fff;
}
  
.nav-container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}
  
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #346786;
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: 100;
}
  
.nav {
    height: 3.5rem;
}
  
.nav-logo, .nav-burger, .nav-close {
    color: #fff
}
  
.nav-data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.nav-logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}
  
.nav-logo img {
    height: 50px;
    width: 100%;
}
  
.nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
}
  
.nav-burger, .nav-close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}
  
.nav-close {
    opacity: 0;
}

@media screen and (max-width: 1118px) {
    .nav__menu {
      position: absolute;
      left: 0;
      top: 2.5rem;
      width: 100%;
      height: calc(100vh - 3.5rem);
      overflow: auto;
      pointer-events: none;
      opacity: 0;
      transition: top .4s, opacity .3s;
    }
    
    .nav__menu::-webkit-scrollbar {
      width: 0;
    }
    
    .nav-list {
      background-color: #346786;
      padding-top: 1rem;
    }
}
  
.nav-link {
    color: #fff;
    background-color: #346786;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
}
  
.show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}
  
.show-icon .nav-burger {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav-close {
    opacity: 1;
    transform: rotate(90deg);
}
  
.dropdown-item {
    cursor: pointer;
}
  
.dropdown-arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}
  
.dropdown-link{
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: #fff;
    background-color: #346786;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    transition: background-color .3s;
}
  
.dropdown-link i {
    font-size: 1.25rem;
    font-weight: initial;
}
  
.dropdown-link:hover, .nav-link:hover {
    background-color: #000;
}
  
.dropdown__menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}
  
.dropdown-item:hover .dropdown__menu {
    max-height: 1000px;
    transition: max-height .4s ease-in;
}
  
.dropdown-item:hover .dropdown-arrow {
    transform: rotate(180deg);
}
  
@media screen and (max-width: 340px) {
    .nav-container {
      margin-inline: 1rem;
    }
  
    .nav-link {
      padding-inline: 1rem;
    }
}
  
@media screen and (min-width: 1118px) {
    .nav-container {
      margin-inline: auto;
}
  
    .nav {
      height: 5.5rem;
      display: flex;
      justify-content: space-between;
    }
    
    .nav__toggle {
      display: none;
    }
    
    .nav-list {
      height: 100%;
      display: flex;
      column-gap: 3rem;
    }
    
    .nav-link {
      height: 100%;
      padding: 0;
      justify-content: initial;
      column-gap: .25rem;
    }
    
    .nav-link:hover {
      background-color: transparent;
    }
  
    .dropdown-item {
      position: relative;
    }
  
    .dropdown__menu {
      max-height: initial;
      overflow: initial;
      position: absolute;
      left: 0;
      top: 6rem;
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s, top .3s;
    }
  
    .dropdown-link {
      padding-inline: 1rem 3.5rem;
    }

    .dropdown-item:hover .dropdown__menu {
      opacity: 1;
      top: 5.5rem;
      pointer-events: initial;
      transition: top .3s;
    }
}

/* ================================ */

/* ============ carrossel ============ */
.carousel {
    background-color: #009FE0; 
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 60px;
}

figcaption {
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    padding: 10px; 
  }

.slide {
    display: none;
}

.slide:first-child {
    display: block;
}

.slide img {
    height: 350px;
    width: 560px;
}

/* ================================ */

/* ============ extensão ============ */

.extensao, .participar , .comunidade-ext{
    padding: 60px;
}

.importancia , .aluno-unesp {
    padding: 60px;
    background-color: #009FE0;
}


.line {
    height: 1px;
    background-color: #333;
    text-align: center;
    margin: 30px;
}

.line span {
    background-color: white;
    position: relative;
    top: -0.5em;
    padding: 0 10px;
    font-size: 30px;
}

.line-text {
    text-align: justify;
    font-size: 20px;
    padding: 20px 60px;
}

.line-text span {
    display: inline-block;
}

.importancia span, .aluno-unesp span {
    background-color: #009FE0;
}

.ext-content {
    display: flex;
}

.ext-content img {
    padding: 20px 60px;
    height: 300px;
    width: 100%;
}

/* ================================ */

/* ============ projetos - home ============ */

.projetos-disponiveis, .projetos-concluidos {
    padding: 30px 60px 30px;
    background-color: #009FE0;
    
}

.projetos-em-andamento, .latest-news {
    padding: 30px 60px 30px;
}

.projetos-disponiveis span, .projetos-concluidos span {
    background-color: #009FE0;
}

.projetos {
    display: flex;
    margin: 30px;
}

.main-project {
    flex: auto;
    font-size: 16px;
    margin: 15px;
}

.main-project2 {
    font-size: 16px;
    margin: 15px;
}

.main-project img, .main-project2 img {
    height: 350px;
    width: 560px;
}

.main-project span, .main-project2 span {
    display: block;
    width: 490px;
}

.container {
    display: flex;
}

.container2 {
    display: flex;
    flex: auto;
}

.side-projects {
    flex-direction: row;
    margin: 15px;
}

.side-projects img {
    height: 140px;
    width: 210px;
}

.side-projects span {
    display: block;
}

/* ================================ */

/* ============ notícias - home ============ */

.container-news {
    display: flex;
}

.news {
    flex: 1;
}

/* ================================ */

/* ============ notícias - página ============ */

.wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
    max-width: 300px;
	min-height: 250px;
	padding: 10px;
	border-radius: 3px;
	box-sizing: border-box;
	color: #000;
	margin:20px;
	box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.card img {
    height: 200px;
    width: 100%;
}

.card-title{
	margin-top: 0;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1.2px;
}
.card-content{
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 1.5;
}

.card-button{
	all: unset;
	display: block;
	margin-left: auto;
	border: 2px solid #fff;
    background-color: #346786;
	padding: 10px 15px;
	border-radius: 25px;
	font-size: 10px;
	font-weight: 600;
	transition: all 0.5s;
	cursor: pointer;
	letter-spacing: 1.2px;
}
.card-button:hover {
    color:#000;
    background: #FFF;
}

/* ================================ */

/* ============ projetos ============ */
.title {
    padding-left: 100px;
}

.container-projetos, .container-projetos-blue{
    padding: 30px 60px 30px;
}

.container-projetos-blue {
    background-color: #009FE0;
}

.projs {
    display: flex;
}

.proj-img {
    float: left;
}

.proj-descr {
    flex: 1;
    width: 300px;
    margin-left: 20px;
}

/* ================================ */

/* ============ pagina de um projeto ============ */

.proj-title {
    text-align: center;
}

.hashtags {
    background-color: #bbceff;
    border-radius: 20px;
    margin-inline: 200px;
    margin-block: 20px;
    padding: 10px 0 10px;
    display: flex;
}

.hashtag-item {
    flex: 1;
    text-align: center;
}

.hashtag-item span {
    background-color: #52aff5;
    border-radius: 20px;
    color: #0075ff;
}

.proj-text {
    margin-inline: 100px;
    margin-bottom: 20px;
}

.proj-donation {
    margin-inline: 200px;
    display: flex;
}

.proj-donation-descr {
    padding-left: 20px;
    text-align: justify;
}

.donation {
    padding-top: 50px;
}

.donation h4 {
    margin: 0px;
    padding-bottom: 10px;
}

.progress-bar{
    --progress: 50;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
    display: flex;
}

.progress-bar::before{
    content: "";
    border-radius: 5px;
    width: calc(var(--progress) * 1%);
    background-color: green;
    transition: all 0.2s ease;
}

.donation-button {
	all: unset;
	display: block;
	margin-left: auto;
    margin-top: 20px;
	border: 2px solid #fff;
    background-color: #009FE0;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 10px;
	font-weight: 600;
	transition: all 0.5s;
	cursor: pointer;
	letter-spacing: 1.2px;
    float: left;
}
.donation-button:hover {
    color:#000;
    background: #346786;
}


/* =============================== */

/* ============ Doação ============ */

.donation-container h1 {
    text-align: center;
}

.donation-main {
    display: flex;
    margin-inline: 90px;
}

.donation-proj {
    flex: 1;
}

.donation-proj h4 {
    text-align: center;
}

.donation-card {
    background-color: #009FE0;
    border-radius: 20px;
    flex: 1;
    margin-left: 30px;
    margin-bottom: 60px;
}
  
.input-container {
    height: 50px;
    position: relative;
    width: 100%;
    margin-top: 30px;
    padding-inline: 40px;
}
  
.input {
    background-color: #009FE0;
    border-width: 0 0 1px 0;
    border-color: #000;
    box-sizing: border-box;
    color: #eee;
    height: 100%;
    outline: 0;
    width: 100%;
}
  
.placeholder {
    color: #fff;
    left: 40px;
    line-height: 14px;
    position: absolute;
    top: 20px;
}
  
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    display: none;
}

.donation-form-button {
    all: unset;
    margin-top: 20px;
    margin-bottom: 40px;
	border: none;
    background-color: #346786;
	padding: 10px 15px;
	border-radius: 20px;
	font-size: 10px;
	font-weight: 600;
	transition: all 0.5s;
	cursor: pointer;
	letter-spacing: 1.2px;
    float: right;
    margin-right: 30px;
}

.donation-form-button:hover {
    color:#000;
    background: #fff;
}

/* =============================== */

/* ============ login ============ */

.login-container {
    display: flex;
    margin-inline: 450px;
    margin-block: 100px;
}

.login-card {
    flex: 1;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.login-card h3 {
    padding-left: 40px;
}

.button-container {
    margin-top: 30px;
    margin-inline: 40px;
}

.login-button , .cadastrar-button{
    all: unset;
	border: none;
    background-color: #009FE0;
	padding: 10px 15px;
	border-radius: 5px;
	transition: all 0.5s;
	cursor: pointer;
	letter-spacing: 1.2px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.signup-button , .forgotpassword-button{
    all: unset;
	border: none;
    background-color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	transition: all 0.5s;
	cursor: pointer;
	letter-spacing: 1.2px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    color:#009FE0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.forgotpassword-button, .cadastrar-button{
    margin-bottom: 30px;
}

.login-button:hover, .cadastrar-button:hover{
    background: #346786;
}

.signup-button:hover , .forgotpassword-button:hover{
    background: #d3d3d3;
}

.input-login {
    border-width: 0 0 1px 0;
    border-color: #000;
    box-sizing: border-box;
    color: #000;
    height: 100%;
    outline: 0;
    width: 100%;
}

.placeholder-login {
    color: #000;
    left: 40px;
    line-height: 14px;
    position: absolute;
    top: 20px;
}

.input-login:focus ~ .placeholder-login,
.input-login:not(:placeholder-shown) ~ .placeholder-login {
    display: none;
}

/* =============================== */

/* ============ footer ============ */

footer {
    background-color: #346786;
    color: #fff;
    padding: 40px 0 0;
}

.footer-container {
    max-width: 1170px;
	margin:auto;
}

.footer-row{
	display: flex;
	flex-wrap: wrap;
}

.footer-content {
    width: 25%;
    padding: 0 15px;
}

.footer-content img {
    height: 100%;
    width: 200px;
    margin: auto;
    display: block;
}

.footer-content h4{
	font-size: 18px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-content h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-content p {
    text-align: left;
}

.footer-content .footer-socialmedia a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-content .footer-socialmedia a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.footer-socialmedia img {
    height: 30px;
    width: 30px;
    margin: 0 5px 0;
    display: inline;
}

.copyright p{
    text-align: center;
    margin-bottom: 0px;
}

@media(max-width: 767px) {
    .footer-content {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-content {
        width: 100%;
    }
}